// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

// Home row mods macro
#define ABC 0
#define NUM 1
#define SYM 2
#define NAV 3
#define FUN 4
#define BLU 5

/ {
    combos {
        compatible = "zmk,combos";
        left_esc {
            timeout-ms = <200>;
            key-positions = <0 16>;
            bindings = <&kp ESC>;
        };

        right_esc {
            timeout-ms = <200>;
            key-positions = <21 32>;
            bindings = <&kp ESC>;
        };
    };

    macros {
        back_wrd: backword_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp BSPC>, <&macro_release &kp LCTRL>;
        };

        front_wrd: frontword_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp DEL>, <&macro_release &kp LCTRL>;
        };

        back_ln: backline_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>, <&macro_tap &kp HOME>, <&macro_release &kp LSHFT>, <&macro_tap &kp BSPC>;
        };

        front_ln: frontline_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>, <&macro_tap &kp END>, <&macro_release &kp LSHFT>, <&macro_tap &kp BSPC>;
        };

    };

    behaviors {
        // HOME ROW BEHAVIORS
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };

        // ABC TAP DANCE
        uno: sqt_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp SQT>;
        };
        duo: dqt_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp DQT>;
        };

        // ABC MORPH MOD
        marks: marks_dance {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp EXCL>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // NUM TAP DANCE
        close_b: close_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp LBKT>, <&kp LBRC>;
        };
        open_b: open_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RPAR>, <&kp RBKT>, <&kp RBRC>;
        };

        // NAV TAP DANCE
        sup_lf: left_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT>, <&kp LC(LEFT)>, <&kp LS(LC(LEFT))>; 
        };

        sup_rt: right_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RIGHT>, <&kp LC(RIGHT)>, <&kp LS(LC(RIGHT))>; 
        };

        sup_up: up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp UP>, <&kp LS(HOME)>, <&kp LS(PG_UP)>; 
        };

        sup_dn: down_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp DOWN>, <&kp LS(END)>, <&kp LS(PG_DN)>; 
        };

        // MOUSE MOVEMENT-SCROLL TAP DANCE
        mou_up: mouse_up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mmv MOVE_UP>, <&msc SCRL_UP>;
        };

        mou_dn: mouse_dn_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mmv MOVE_DOWN>, <&msc SCRL_DOWN>;
        };

        mou_lf: mouse_lf_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mmv MOVE_LEFT>, <&msc SCRL_LEFT>;
        };

        mou_rt: mouse_rt_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mmv MOVE_RIGHT>, <&msc SCRL_RIGHT>;
        };

        // THUMB CLUSTER TAP DANCE
        bkd: backspace_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp BSPC>, <&back_wrd>, <&back_ln>;
        };

         ftd: frontspace_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp TAB>, <&front_wrd>, <&front_ln>;
        };

        cap_spc: capsspace_dance {
            compatible = "zmk,behavior-tap-tance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp SPACE>, <&kp CAPS>;
        };

        cap_ent: capsenter_dance {
            compatible = "zmk,behavior-tap-tance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp ENTER>, <&kp CAPS>;
        };

        // THUMB CLUSTERS LAYER TAP
        ftap: fun_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&ftd>;
            display-name = "Layer-Tap";
        };

        ntap: nav_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&bkd>;
            display-name = "Layer-Tap";
        };

        utap: num_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&cap_spc>;
            display-name = "Layer-Tap";
        };

        stap: sym_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&cap_ent>;
            display-name = "Layer-Tap";
        };

    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <FUN NAV>;
            then-layer = <BLU>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        ABC_layer {
            display-name = "_ABC";
            bindings = <
            &kp Q           &kp W           &kp F               &kp P               &kp G                   &kp J           &kp L           &kp U           &kp Y           &kp SEMI
            &hml LGUI A     &hml LALT R     &hml LCTRL S        &hml LSHFT T        &kp D                   &kp H           &hmr RSHFT N    &hmr RCTRL E    &hmr RALT I     &hmr RGUI O
            &kp Z           &kp X           &kp C               &kp V               &kp B                   &kp K           &kp M           &duo            &uno            &marks
                                                                &ftap FUN 0         &utap NUM 0             &stap SYM 0     &ntap NAV 0
            >;
        };

        NUM_layer {
            display-name = "_NUM";
            bindings = <
            &kp N0          &kp N9          &kp N8              &kp N7              &kp N6                  &trans          &trans          &trans          &trans          &trans
            &kp N1          &kp N2          &kp N3              &kp N4              &kp N5                  &trans          &trans          &trans          &trans          &trans
            &kp PLUS        &kp MINUS       &kp STAR            &kp FSLH            &kp EQUAL               &trans          &trans          &trans          &trans          &trans
                                                                &none               &trans                  &trans          &trans
            >;
        };
        
        SYM_layer {
            display-name = "_SYM";
            bindings = <
            &trans          &trans          &trans              &trans              &trans                  &kp HASH        &kp MINUS       &kp EQUAL       &kp PRCNT       &kp STAR
            &trans          &trans          &trans              &trans              &trans                  &kp DLLR        &close_b        &open_b         &kp AMPS        &kp AT
            &trans          &trans          &trans              &trans              &trans                  &kp GRAVE       &kp LT          &kp GT          &kp CARET       &kp BSLH
                                                                &none               &trans                  &trans          &none
            >;
        };

        NAV_layer {
            display-name = "_NAV";
            bindings = <
            &mkp MB2        &mkp MB4        &mou_up             &mkp MB5            &none                   &kp LC(X)       &kp HOME        &sup_up         &kp END         &kp LC(A)
            &mkp MB1        &none       &none             &none             &mkp MB3                &kp LC(C)       &sup_lf         &sup_dn         &sup_rt         &kp INS
            &none           &none           &none               &none               &none                   &kp PSCRN       &kp PG_UP       &kp DEL         &kp PG_DN       &kp LC(V)
                                                                &none               &none                   &none           &trans
            >;
        };

        FUN_layer {
            display-name = "_FUN";
            bindings = <
            &kp F10         &kp F9          &kp F8              &kp F7              &kp F6                  &none           &kp C_BRI_UP    &kp C_BRI_DN    &kp C_BRI_MIN   &none
            &kp F1          &kp F2          &kp F3              &kp F4              &kp F5                  &none           &kp C_VOL_UP    &kp C_VOL_DN    &kp C_MUTE      &none
            &kp F15         &kp F14         &kp F13             &kp F12             &kp F11                 &none           &kp C_PREV      &kp C_NEXT      &kp C_PP        &none
                                                                &trans              &none                   &none           &none
            >;
        };
    };
};