// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

// Default mouse scroll and movement speeds
#define ZMK_POINTING_DEFAULT_MOVE_VAL 800  
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20  

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

// Mouse config
&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

&msc {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

// Sticky keys config
&sk {
    release-after-ms = <700>;
    lazy;
    quick-release;
    ignore-modifiers;
};

// Home row mods macro
#define COL 0
#define MAC 1
#define REV 2
#define QWE 3
#define NUM 4
#define SYM 5
#define NAV 6
#define MAV 7
#define FUN 8
#define BLU 9

/ {
    combos {
        compatible = "zmk,combos";
        lesc {
            timeout-ms = <270>;
            slow-release;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <COL NUM SYM NAV MAC MAV QWE>;
        };

        resc {
            timeout-ms = <270>;
            slow-release;
            key-positions = <8 9>;
            bindings = <&kp ESC>;
            layers = <COL NUM SYM NAV MAC MAV QWE>;
        };

        spac {
            timeout-ms = <270>;
            slow-release;
            key-positions = <30 31>;
            bindings = <&kp SPACE>;
            layers = <COL NUM SYM MAC QWE>;
        };

        bacc {
            timeout-ms = <270>;
            slow-release;
            key-positions = <32 33>;
            bindings = <&kp BSPC>;
            layers = <COL NUM SYM MAC QWE>;
        };
    };

    macros {
        back_wrd: backword_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp BSPC>, <&macro_release &kp LCTRL>;
        };

        front_wrd: frontword_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp DEL>, <&macro_release &kp LCTRL>;
        };

        back_ln: backline_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp HOME>, <&macro_release &kp LSHFT>, <&macro_tap &kp BSPC>;
        };

        front_ln: frontline_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp END>, <&macro_release &kp LSHFT>, <&macro_tap &kp BSPC>;
        };

    };

    behaviors {
        // HOME ROW BEHAVIORS
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <70>;
            tapping-term-ms = <160>;
            quick-tap-ms = <150>;
            bindings = <&sk>, <&kp>;
            hold-trigger-key-positions = < 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <70>;
            tapping-term-ms = <160>;
            quick-tap-ms = <150>;
            bindings = <&sk>, <&kp>;
            hold-trigger-key-positions = < 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };

        hmg: home_row_mod_gui {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <70>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

         hmc: home_row_mod_caps {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <70>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            bindings = <&caps_word>, <&kp>;
        };

        // COL TAP DANCE
        uno: sqt_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp DOT>, <&kp SQT>;
        };
        duo: dqt_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp COMMA>, <&kp DQT>;
        };


        // COL MORPH MOD
        marks: marks_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp EXCL>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // NUM TAP DANCE
        close_b: close_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp LBKT>, <&kp LBRC>;
        };

        open_b: open_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RPAR>, <&kp RBKT>, <&kp RBRC>;
        };

        min_und: minus_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp UNDER>;
        };

        eq_plus: equal_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp EQUAL>, <&kp PLUS>;
        };

        // NAV TAP DANCE
        sup_lf: left_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT>, <&kp LC(LEFT)>, <&kp LS(LC(LEFT))>, <&kp LG(LEFT)>; 
        };

        sup_rt: right_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RIGHT>, <&kp LC(RIGHT)>, <&kp LS(LC(RIGHT))>, <&kp LG(RIGHT)>; 
        };

        sup_up: up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp UP>, <&kp LC(UP)>, <&kp LS(LC(UP))>, <&kp LG(UP)>; 
        };

        sup_dn: down_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp DOWN>, <&kp LC(DOWN)>, <&kp LS(LC(DOWN))>, <&kp LG(DOWN)>; 
        };

        sup_mlf: mac_left_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT>, <&kp LA(LEFT)>, <&kp LS(LA(LEFT))>, <&kp LC(LA(LEFT))>; 
        };

        sup_mrt: mac_right_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RIGHT>, <&kp LA(RIGHT)>, <&kp LS(LA(RIGHT))>, <&kp LC(LA(RIGHT))>; 
        };

       sup_mup: mac_up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp UP>, <&kp LA(UP)>, <&kp LS(LA(UP))>, <&kp LC(LA(UP))>; 
        };

        sup_mdn: mac_down_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp DOWN>, <&kp LA(DOWN)>, <&kp LS(LA(DOWN))>, <&kp LC(LA(DOWN))>; 
        };

        sup_ho: home_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp HOME>, <&kp LS(HOME)>;
        };
        
        sup_en: end_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp END>, <&kp LS(END)>;
        };

        sup_pu: page_up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp PG_UP>, <&kp LC(PG_UP)>, <&kp LS(PG_UP)>;
        };

        sup_pd: page_down_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp PG_DN>, <&kp LC(PG_DN)>, <&kp LS(PG_DN)>;
        };

        // THUMB CLUSTER TAP DANCE
        bkd: backspace_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <270>;
            bindings = <&kp BSPC>, <&back_wrd>, <&back_ln>;
        };

        ftd: frontspace_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <270>;
            bindings = <&kp TAB>, <&front_wrd>, <&front_ln>;
        };

        mbkd: mac_backspace_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <270>;
            bindings = <&kp BSPC>, <&kp LA(BSPC)>, <&kp LG(BSPC)>;
        };

        // THUMB CLUSTERS LAYER TAP
        ftap: fun_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <130>;
            bindings = <&mo>, <&ftd>;
            display-name = "Layer-Tap";
        };

        ntap: nav_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <130>;
            bindings = <&mo>, <&bkd>;
            display-name = "Layer-Tap";
        };

        mtap: mav_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <130>;
            bindings = <&mo>, <&mbkd>;
            display-name = "Layer-Tap";
        };

        ltc: layer_tap_custom {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            quick-tap-ms = <130>;
            bindings = <&mo>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        blu_layer {
            if-layers = <FUN NAV>;
            then-layer = <BLU>;
        };
        mlu_layer {
            if-layers = <FUN MAV>;
            then-layer = <BLU>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        COL_layer {
            display-name = "_COL";
            bindings = <
            &kp Q           &kp W           &kp F               &kp P               &kp G                   &kp J           &kp L           &kp U           &kp Y           &kp SEMI
            &hmg LGUI A     &hml LALT R     &hml LCTRL S        &hml LSHFT T        &hmc 0 D                &hmc 0 H        &hmr RSHFT N    &hmr RCTRL E    &hmr RALT I     &hmg RGUI O
            &kp Z           &kp X           &kp C               &kp V               &kp B                   &kp K           &kp M           &duo            &uno            &marks
                                                                &ftap FUN 0         &ltc NUM SPACE          &ltc SYM ENTER  &ntap NAV 0
            >;
        };

        MAC_layer {
            display-name = "_MAC";
            bindings = <
            &kp Q           &kp W           &kp F               &kp P               &kp G                   &kp J           &kp L           &kp U           &kp Y           &kp SEMI
            &hml LCTRL A    &hml LALT R    &hml LGUI S         &hml LSHFT T        &hmc 0 D                &hmc 0 H        &hmr RSHFT N    &hmr RGUI E     &hmr RALT I     &hmr RCTRL O
            &kp Z           &kp X           &kp C               &kp V               &kp B                   &kp K           &kp M           &duo            &uno            &marks
                                                                &ltc FUN TAB        &ltc NUM SPACE          &ltc SYM ENTER  &mtap MAV 0
            >;
        };

        REV_layer {
            display-name = "_REV";
            bindings = <
            &kp SEMI        &kp Y           &kp U               &kp L               &kp J                   &kp G           &kp P           &kp F           &kp W           &kp Q
            &hmg RGUI O     &hmr RALT I     &hmr RCTRL E        &hmr RSHFT N        &hmc 0 H                &hmc 0 D        &hml LSHFT T    &hml LCTRL S    &hml LALT R     &hmg LGUI A
            &marks          &uno            &duo                &kp M               &kp K                   &kp B           &kp V           &kp C           &kp X           &kp Z
                                                                &ntap NAV 0         &trans                  &trans          &ftap FUN 0
            >;
        };

        QWE_layer {
            display-name = "_QWE";
            bindings = <
            &kp Q           &kp W           &kp E               &kp R               &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P
            &hmg LGUI A     &hml LALT S     &hml LCTRL D        &hml LSHFT F        &hmc 0 G                &hmc 0 H        &hmr RSHFT J    &hmr RCTRL K    &hmr RALT L     &hmg RGUI SEMI
            &kp Z           &kp X           &kp C               &kp V               &kp B                   &kp N           &kp M           &duo            &uno            &marks
                                                                &ftap FUN 0         &ltc NUM SPACE          &ltc SYM ENTER  &ntap NAV 0
            >;
        };

        NUM_layer {
            display-name = "_NUM";
            bindings = <
            &kp N0          &kp N9          &kp N8              &kp N7              &kp N6                  &trans          &trans          &trans          &trans          &trans
            &kp N1          &kp N2          &kp N3              &kp N4              &kp N5                  &trans          &trans          &trans          &trans          &trans
            &kp PLUS        &kp MINUS       &kp STAR            &kp FSLH            &kp EQUAL               &trans          &trans          &trans          &trans          &trans
                                                                &kp LCTRL           &trans                  &trans          &none
            >;
        };
        
        SYM_layer {
            display-name = "_SYM";
            bindings = <
            &trans          &trans          &trans              &trans              &trans                  &kp HASH        &min_und        &eq_plus        &kp PRCNT       &kp STAR
            &trans          &trans          &trans              &trans              &trans                  &kp DLLR        &close_b        &open_b         &kp AMPS        &kp AT
            &trans          &trans          &trans              &trans              &trans                  &kp GRAVE       &kp LT          &kp GT          &kp CARET       &kp BSLH
                                                                &none               &trans                  &trans          &none
            >;
        };

        NAV_layer {
            display-name = "_NAV";
            bindings = <
            &mkp MB2        &mkp MB4        &mmv MOVE_UP        &mkp MB5            &none                   &kp LC(X)       &sup_ho         &sup_up         &sup_en         &kp LC(A)
            &mkp MB1        &mmv MOVE_LEFT  &mmv MOVE_DOWN      &mmv MOVE_RIGHT     &mkp MB3                &kp LC(C)       &sup_lf         &sup_dn         &sup_rt         &kp LSHFT
            &msc SCRL_LEFT  &msc SCRL_RIGHT &msc SCRL_DOWN      &msc SCRL_UP        &none                   &kp PSCRN       &sup_pu         &kp DEL         &sup_pd         &kp LC(V)
                                                                &trans              &kp LCTRL               &sl REV         &trans
            >;
        };

        MAV_layer {
            display-name = "_MAV";
            bindings = <
            &mkp MB2        &mkp MB4        &mmv MOVE_UP        &mkp MB5            &none                   &kp LG(X)       &kp LG(LEFT)    &sup_mup        &kp LG(RIGHT)   &kp LG(A)
            &mkp MB1        &mmv MOVE_LEFT  &mmv MOVE_DOWN      &mmv MOVE_RIGHT     &mkp MB3                &kp LG(C)       &sup_mlf        &sup_mdn        &sup_mrt         &kp LSHFT
            &msc SCRL_LEFT  &msc SCRL_RIGHT &msc SCRL_DOWN      &msc SCRL_UP        &none                   &kp PSCRN       &kp LG(UP)      &kp LG(BSPC)    &kp LG(DOWN)    &kp LG(V)
                                                                &trans              &kp LGUI                &none           &trans
            >;
        };

        FUN_layer {
            display-name = "_FUN";
            bindings = <
            &kp F10         &kp F9          &kp F8              &kp F7              &kp F6                  &tog MAC        &kp C_BRI_UP    &kp C_BRI_DN    &kp C_BRI_MIN   &none
            &kp F1          &kp F2          &kp F3              &kp F4              &kp F5                  &tog QWE        &kp C_VOL_UP    &kp C_VOL_DN    &kp C_MUTE      &none
            &kp F11         &kp F12         &kp LGUI            &kp LCTRL           &kp LSHFT               &none           &kp C_PREV      &kp C_NEXT      &kp C_PP        &none
                                                                &trans              &sl REV                 &none           &trans
            >;
        };

        BLU_layer {
            display-name = "_BLU";
            bindings = <
            &kp B           &none           &bt BT_CLR_ALL      &bt BT_CLR          &none                   &bt BT_DISC 4   &bt BT_DISC 3   &bt BT_DISC 2   &bt BT_DISC 1   &bt BT_DISC 0
            &none           &none           &bt BT_PRV          &bt BT_NXT          &none                   &bt BT_SEL 4    &bt BT_SEL 3    &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0
            &none           &none           &none               &none               &none                   &none           &none           &none           &none           &none
                                                                &none               &none                   &none           &none
            >;
        };
    };
};